.wrapper{    
    display: flex;
   
    
}

.menu{

}

.mainBlock{
   
   
  
    /* border: 1px solid black; */
    background-color: rgb(243, 243, 243);

    

    
}

.mainBlock h3{
    text-align: center;
  
}


.usersBlock{    
    border: 1px solid rgb(177, 174, 174);
    width: 30%;   
  
  
    border-radius: 10px;
    
}

.userImgBlock{
   
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.userTextBlock{
 
    
    text-align: center;
}

.usersBlock img{    
   
    width: 100%;
    box-sizing: content-box;
    
    clip-path: circle(); 

}


.btn{
    width: 50%;
    padding: 15px 10px;
    background-color: #006dff;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}




.paginator{
    /* display: flex;
    width: 100%; */
}