.wrapper{    
    display: flex;     
}

.menu{   
}

.mainBlock{ 

}
    

.mainBlock h1{
    width: 100%;
    text-align: center;
    
  
}

.videoBlock{
    
    border: 1px solid gray;
    width: 24%;   
    margin-bottom: 20px;
    
}

.topListCategory{

    width: 100%;
}

.topListCategory ul{

    display: flex;
    flex-wrap: wrap;
    
}

.topListCategory ul li{
  
    margin-right: 15px;
    list-style-type:none;
    cursor: pointer;
}