.wrapper{    
    display: flex;     
}

.menu{   
}

.mainBlock{ 
 width: 100%;
}
    

.mainBlock h1{
    
    
    
  
}
.videoBlockMain{
    margin-top: 2%;
    /* border: 10px solid red; */
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
}

.videoBlock{
    width: 30%;
    
    
    margin-bottom: 20px;
    
}

.topListCategory{

    /* border: 10px solid red; */
}

.topListCategory ul{

    display: flex;
    
}

.topListCategory ul li{
  
    margin-right: 15px;
    list-style-type:none;
    cursor: pointer;
}